.App h1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
}

body {
  background: #04a1bf;
}

.row {
  display: flex;
}

ul {
  border-radius: 5px;
  list-style: none;
  background: white;
  width: 80%;
}
